#-----composer------
composer.lock
composer.phar
vendor
#-----phpstorm------
.idea

#-----local data----

#apache local-config
findwc.conf

.cache
.composer
.config
.local
.ssh
__MACOSX
.bash_history
