<!-- Credits -->
<div id="credits" class="content-section-a">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                <h2 class="my-title-section">Работодатели</h2>
                <br>
                <p class="lead" style="margin-top:0">Доверяйте только себе. Позвоните за рекомендацией.</p>
            </div>

            <div class="col-sm-6  block wow bounceIn">
                <a href="https://camelotpay.com" target="_blank">
                    <div class="row">
                    <div class="col-md-4 box-icon rotate">
                        <i class="fa fa-money fa-4x "> </i>
                    </div>
                    <div class="col-md-8 box-ct">
                        <h3> CamelotPay </h3>
                        <p>
                            Английская компания Camelot Consulting предоставляет услуги в сфере процессинга онлайн-платежей.<br>
                            Ключевые направления: интернет-эквайринг, платежные шлюзы, SMS биллинг.
                        </p>
                    </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 block wow bounceIn">
                <a href="https://webtransfercard.com" target="_blank">
                <div class="row">
                    <div class="col-md-4 box-icon rotate">
                        <i class="fa fa-credit-card fa-4x "> </i>
                    </div>
                    <div class="col-md-8 box-ct">
                        <h3> WebtransferCard </h3>
                        <p>
                            Коммерческий банк, сфокусированный полностью на дистанционном обслуживании, не имеющий розничных отделений и банкоматов.
                            Основным продуктом являются пластиковые и виртуальные VISA карты.
                        </p>
                    </div>
                </div>
                </a>
            </div>
        </div>

        <div class="row tworow">
            <div class="col-sm-6  block wow bounceIn">
                <a href="http://playflock.com" target="_blank">
                <div class="row">
                    <div class="col-md-4 box-icon rotate">
                        <i class="fa fa-gamepad fa-4x "> </i>
                    </div>
                    <div class="col-md-8 box-ct">
                        <h3> PlayFlock </h3>
                        <p>
                            Один из лидеров рынка разработки игр в социальных сетях.<br>
                            Активно развивает сегмент приложений для мобильных устройств.
                        </p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-sm-6 block wow bounceIn">
                <a href="http://qsoft.ru" target="_blank">
                <div class="row">
                    <div class="col-md-4 box-icon rotate">
                        <i class="fa fa-keyboard-o fa-4x "> </i>
                    </div>
                    <div class="col-md-8 box-ct">
                        <h3> QSoft</h3>
                        <p>
                            Разработывает и поддерживает интернет-сайты и интернет-магазины,
                            корпоративных порталов, интегрирует сайты с внешними системами,
                            разработывает проекты под высокие нагрузки.
                        </p>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>