<!-- Screenshot -->
<div id="screen" class="content-section-b">
    <div class="container">
        <div class="row" >
            <div class="col-md-6 col-md-offset-3 text-center wrap_title ">
{#                <h2 class="my-title-section">Примеры</h2>
                <p class="lead" style="margin-top:0">Немного скриншотов</p>#}
            </div>
        </div>
        <div class="row wow bounceInUp" >
            <div id="owl-demo" class="owl-carousel">

                <a href="/img/screens/1.PNG" class="image-link">
                    <div class="item">
                        <img  class="img-responsive img-rounded" src="/img/screens/1.PNG" alt="Owl Image">
                    </div>
                </a>

                <a href="/img/screens/2.PNG" class="image-link">
                    <div class="item">
                        <img  class="img-responsive img-rounded" src="/img/screens/2.PNG" alt="Owl Image">
                    </div>
                </a>

                <a href="/img/screens/3.PNG" class="image-link">
                    <div class="item">
                        <img  class="img-responsive img-rounded" src="/img/screens/3.PNG" alt="Owl Image">
                    </div>
                </a>

                <a href="/img/screens/5.PNG" class="image-link">
                    <div class="item">
                        <img  class="img-responsive img-rounded" src="/img/screens/5.PNG" alt="Owl Image">
                    </div>
                </a>

                <a href="/img/screens/4.PNG" class="image-link">
                    <div class="item">
                        <img  class="img-responsive img-rounded" src="/img/screens/4.PNG" alt="Owl Image">
                    </div>
                </a>

                <a href="/img/screens/6.PNG" class="image-link">
                    <div class="item">
                        <img  class="img-responsive img-rounded" src="/img/screens/6.PNG" alt="Owl Image">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>