<div id ="programming" class="content-section-a">

    <div class="container">

        <div class="row">

            <div class="col-sm-6 pull-right wow fadeInRightBig">
                {#REAL#}
{#                <img class="img-responsive " src="img/doge.png" alt="">#}
                {#FLAT#}
                <img class="img-responsive " src="/img/flat/6.png" alt="">
            </div>

            <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">
                <h3 class="section-heading">Программирование</h3>

                <table class="table table-hover lead">
                    <tbody>
                    <tr>
                        <td class="my-price-left">Час работы</td>
                        <td class="my-price-right">1 000 руб</td>
                    </tr>
                    <tr>
                        <td class="my-price-left">День работы</td>
                        <td class="my-price-right">5 000 руб</td>
                    </tr>
                    <tr>
                        <td class="my-price-left">Неделя работы</td>
                        <td class="my-price-right">19 000 руб</td>
                    </tr>
                    </tbody>
                </table>
                <hr>
                <ul class="descp lead my-price-table2" style="text-align: left!important;">
                    <li><i class="glyphicon glyphicon-thumbs-up"></i> Подключить платежную систему к интернет-магазину</li>
                    <li><i class="glyphicon glyphicon-thumbs-up"></i> Сделать рассылку клиентам через WhatsApp</li>
                    <li><i class="glyphicon glyphicon-thumbs-up"></i> Найти узкие места в тормозящем коде</li>
                    <li><i class="glyphicon glyphicon-thumbs-up"></i> Создать собственного бота в Telegram</li>
                    <li><i class="glyphicon glyphicon-thumbs-up"></i> Настроить парсер данных с сайта-конкурента</li>
                    <li><i class="glyphicon glyphicon-thumbs-up"></i> PHP, Yii2, NodeJS, GO, MySQL, MongoDB, Redis, RabbitMQ и много других умных слов =)</li>
                </ul>
            </div>
        </div>
    </div>

</div>