<!-- What is -->
<div id="whatis" class="content-section-b" style="border-top: 0">
    <div class="container">

        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
            <h2 class="my-title-section">Кто?</h2>
            <p class="lead" style="margin-top:0">Веб-разработчик и менеджер проектов</p>

        </div>

        <div class="row">

            <div class="col-sm-4 wow fadeInDown text-center">
                <img class="rotate" src="img/icon/laptop.svg" alt="Generic placeholder image">
                <h3>Работа напрямую</h3>
                <p class="lead">От имени серьезной компании мне придется решать Ваши проблемы за большие деньги.</p>

                <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4 wow fadeInDown text-center">
                <img  class="rotate" src="img/icon/map.svg" alt="Generic placeholder image">
                <h3>Мобильность</h3>
                <p class="lead">Возможность встречи и обсуждения в нерабочее время и в удобном месте. </p>
                <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4 wow fadeInDown text-center">
                <img  class="rotate" src="img/icon/pencils.svg" alt="Generic placeholder image">
                <h3>Контакты</h3>
                <p class="lead">Хороший разрабочик знаком со многими узкими специалистами, готовыми прийти на помощь.</p>
                <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
            </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->

        <div class="row tworow">

            <div class="col-sm-4 wow fadeInDown text-center">
                <img  class="rotate" src="img/icon/retina.svg" alt="Generic placeholder image">
                <h3>Репутация</h3>
                <p class="lead">Успешный менеджер всегда имеет рекомендации довольных клиентов. Просто позвоните и проверьте.</p>
                <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4 wow fadeInDown text-center">
                <img  class="rotate" src="img/icon/speed.svg" alt="Generic placeholder image">
                <h3>Скорость</h3>
                <p class="lead">Отсутсвие посредников отлично экономит не только финансы, но и время.</p>
                <!-- <p><a class="btn btn-embossed btn-primary view" role="buttonЦ">View Details</a></p> -->
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4  wow fadeInDown text-center">
                <img class="rotate" src="img/icon/browser.svg" alt="Generic placeholder image">
                <h3>Нравится эта страница?</h3>
                <p class="lead">Вы легко можете получить такую же всего через пару дней!</p>
                <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
            </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->
    </div>
</div>